<% if @movies.length == 0 %>
 <h2>No available movies please add some</h2>

<% else %>
<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Welcome to Movies app</h1>
    <p>This is a great app for rating your favorite movies</p>
    <p><%= link_to "Sign Up To rate a movie", new_user_registration_path, class: "btn btn-secondary btn-lg" %></p>
  </div>
<% end %>

<div class="index-container">
  <div class="row">
    <% @movies.each do |movie| %>

    <div class="col-sm-6 col-md-3 img-cont">

      <div class="img-index">
        <%= link_to movie do %><img src="<%=movie.image%>" class='image'/><% end %>
        <% if @liked %>
			    <%= button_to pluralize(movie.likes_counter, "Like"), like_path(movie.id), method: :delete, remote: true, class: "btn btn-success is-small", data: { disable_with: true } %>
		    <% else %>
			      <%= button_to pluralize(movie.likes_counter, "Like"), movie_likes_path(movie.id), method: :post, remote: true, class: "button is-primary is-small is-inverted", data: { disable_with: true } %>
		    <% end %>
      </div>

    </div>

  <% end %>
  </div>
</div>
  


<% end %>

<div class='paginate'>
  <%= will_paginate @movies, list_classes: %w(pagination justify-content-center) %>

</div>




<script>
  $('#star-rating').raty({
    number: 10,
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>